<ion-header>
  <ion-toolbar>
    <app-header></app-header>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="category-container">
    <!-- Kiểm tra selector đúng -->
    <app-playlist-slider
      [playlists]="categoryPlaylistsTop100"
      title="Top 100"
      categoryRoute="/category">
    </app-playlist-slider>

    <app-playlist-slider
      [playlists]="categoryPlaylists"
      title="Chill"
      categoryRoute="/category">
    </app-playlist-slider>
  </div>
</ion-content>
<app-player-bar></app-player-bar>
