.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Lexend, "sans-serif";
  font-size: 20px;
  font-weight: 500;
}
.left{
  display: flex;
  align-items: center;
  gap: 8px;
  height: 60px;
  margin-left: 15px;
}
.right{
  margin-right: 15px;
}

.logo-icon{
  width: 36px;
  height: 36px;
}
ion-toolbar {
  --background: #111827;
  --color: #FFFFFF;

}
.search-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #242e46;
  border: 1px solid #334155;
  transition: 0.3s;
}
.search-btn:hover {
  border-color: #34b5f8;
  background: #323846;
}
.search-btn img {
  width: 25px;
  height: 25px;
}
.search-btn:active {
  transform: scale(0.95);
  background: #334155;
}

:host {
  position: relative;
  z-index: 1000;
}
ion-header {
  position: relative;
  z-index: 1000;
}




