ion-router-outlet {
  position: relative;
  z-index: 1;
}
ion-tab-bar {
  position: relative;
  z-index: 10;
}
ion-router-outlet > *:not(app-tabs) {
  display: none;
}
.icon-wrapper {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  transition: all 0.3s ease;

}
.icon-default,
.icon-active {
  width: 20px;
  height: 20px;
  position: absolute;
}
.icon-active {
  display: none;
}
ion-tab-button.tab-selected .icon-wrapper {
  background: rgba(0, 224, 255, 0.15);
  transform: translateY(-4px);
  border: 1px solid #0071a1;
}
ion-tab-button.tab-selected .icon-default {
  display: none;
}
ion-tab-button.tab-selected .icon-active {
  display: block;
}
ion-tab-button.tab-selected {
  --color: #01B7E4FF;
}
.icon-wrapper img {
  width: 25px;
  height: 25px;
}
ion-tab-button {
  --color: #8a9bb5;
}
.custom-tab-bar {
  --background: rgba(0, 31, 75, 0.74); /* nền xanh đậm */
  backdrop-filter: blur(12px); /* hiệu ứng kính mờ */

  width: 100%;

  background: rgba(10, 20, 40, 0.9);

  max-width: 500px;
  height: 65px;
  position: fixed; /* luôn dính đáy */
  bottom: 0;       /* sát mép */
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: env(safe-area-inset-bottom); /* hỗ trợ iPhone */
}
ion-tab-button ion-label {
  color: #8a9bb5;
}
ion-tab-button.tab-selected ion-label {
  color: #00e0ff;
}
ion-tab-button ion-label {
  transition: all 0.25s ease;
}
ion-tab-button:hover ion-label {
  color: #4cd9ff;        /* sáng hơn */
  transform: scale(1.5); /* to lên nhẹ */
}


ion-tab-button:not(.tab-selected):hover ion-label {
  color: #4cd9ff;
  transform: scale(1.1);
}
ion-tab-button:not(.tab-selected):hover .tab-icon-wrapper {
  background: rgba(0, 224, 255, 0.15);
}
ion-tab-button:not(.tab-selected):hover {
  transform: translateY(-2px);
}
ion-tab-button.tab-selected ion-label {
  color: #00e0ff;
  transform: scale(1.05);
}


ion-tab-button {
  --ripple-color: transparent;
  --background-activated: transparent;
  --background-focused: transparent;
}

