<div class="song-row" (click)="onRowClick($event)">

  <!-- Cột 1: BÀI HÁT (ảnh + tên + ca sĩ) -->
  <div class="col-song">
    <div class="song-cover-wrapper"
         (mouseenter)="isHovered = true"
         (mouseleave)="isHovered = false">
      <img [src]="song.coverUrl" class="song-cover">
      <div class="play-overlay" *ngIf="isHovered">
        <div class="play-icon-btn" (click)="handlePlayClick($event)">
          <ion-icon [name]="isCurrentSong && isPlaying ? 'pause' : 'play'"></ion-icon>
        </div>
      </div>
    </div>
    <div class="song-info">
      <div class="song-title">{{ song.title }}</div>
      <div class="song-artist">{{ song.artist }}</div>
    </div>
  </div>

  <!-- Cột 2: ALBUM -->
  <div class="col-album">
    {{ song.album || 'Single' }}
  </div>

  <!-- Cột 3: THỜI GIAN + Action -->
  <div class="col-time">
    <span class="duration">{{ formatDuration(song.duration) }}</span>
    <div class="action-icons">
      <div class="action-btn" (click)="toggleLike($event)">
        <ion-icon [name]="isLiked ? 'heart' : 'heart-outline'"></ion-icon>
      </div>
      <div class="action-btn" (click)="showOptions($event)">
        <ion-icon name="ellipsis-horizontal"></ion-icon>
      </div>
    </div>
  </div>

</div>

<!-- Đường kẻ ngăn cách -->
<hr class="row-divider" />
