<ion-app>

  <!-- LOADING LẦN ĐẦU - CHỈ HIỆN KHI isLoading = true -->
  <div class="global-loading" *ngIf="isLoading">
    <div class="loading-content">
      <div class="loading-spinner"></div>
      <div class="loading-logo">SoundWave</div>
      <div class="loading-dots">
        <span></span><span></span><span></span>
      </div>
    </div>
  </div>

  <!-- NỘI DUNG CHÍNH - LUÔN HIỆN -->
  <!-- DESKTOP -->
  <ng-container *ngIf="isDesktop; else mobileLayout">
    <app-desktop-header></app-desktop-header>
    <div class="desktop-container">
      <ion-router-outlet></ion-router-outlet>
    </div>
  </ng-container>

  <!-- MOBILE -->
  <ng-template #mobileLayout>
    <ion-router-outlet></ion-router-outlet>
  </ng-template>

</ion-app>
