

<ion-content>

  <ion-list>
    <div class="logo">
      <img src="assets/logo/logo.svg" class="logo-icon">
      <span>SoundWave</span>
    </div>
    <ion-item
      [button]="true"
      [class.active]="activeMenu === 'home'"
      (click)="navigateTo('/home')">
      <div class="icon-wrapper">
        <img src="assets/icon/home-menu-outline.svg" class="icon-default">
        <img src="assets/icon/home-menu-fill.svg" class="icon-active">
      </div>


      <ion-label>Trang chủ</ion-label>
    </ion-item>

    <ion-item
      [button]="true"
      [class.active]="activeMenu === 'library'"
      (click)="navigateTo('/library')">
      <div class="icon-wrapper">
        <img src="assets/icon/library-menu-outline.svg" class="icon-default">
        <img src="assets/icon/library-menu-fill.svg" class="icon-active">
      </div>

      <ion-label>Thư viện</ion-label>
    </ion-item>

    <ion-item
      [button]="true"
      [class.active]="activeMenu === 'favorite'"
      (click)="navigateTo('/favorite')">
      <div class="icon-wrapper">
        <img src="assets/icon/heart-menu-outline.svg" class="icon-default">
        <img src="assets/icon/heart-menu-fill.svg" class="icon-active">
      </div>
      <ion-label>Yêu thích</ion-label>
    </ion-item>

    <ion-item
      [button]="true"
      [class.active]="activeMenu === 'profile'"
      (click)="navigateTo('/profile')">
      <div class="icon-wrapper">
        <img src="assets/icon/heart-menu-outline.svg" class="icon-default">
        <img src="assets/icon/heart-menu-fill.svg" class="icon-active">
      </div>
      <ion-label>Hồ sơ</ion-label>
    </ion-item>
  </ion-list>

  <div class="sidebar-footer">
    <button class="btn-login">Đăng nhập</button>
  </div>
</ion-content>
