<ion-header>
  <ion-toolbar>
    <div class="desktop-header">

      <div class="left">
        <img src="assets/logo/logo.svg" class="logo-icon">
        <span>SoundWave</span>
      </div>

      <div class="center">
        <div class="search-wrapper" cdkOverlayOrigin #origin="cdkOverlayOrigin">
          <ion-icon name="search-outline" class="search-icon"></ion-icon>
          <input
            class="search"
            type="text"
            [(ngModel)]="keyword"
            (input)="onSearch($event)"
            placeholder="Tìm kiếm bài hát, nghệ sĩ..."
          />


          <!-- 🔥 overlay -->
          <ng-template
            cdk-connected-overlay
            [cdkConnectedOverlayOrigin]="origin"
            [cdkConnectedOverlayOpen]="suggestions.length > 0"
            [cdkConnectedOverlayPositions]="positions"
          >
            <div class="suggest-box">
              <div class="suggest-item" *ngFor="let item of suggestions">
                {{ item }}
              </div>
            </div>
          </ng-template>

        </div>
      </div>


      <div class="right">

        <div class="menu-item active" routerLink="/home" routerLinkActive="active">
          <div class="icon-wrapper">
            <img src="assets/icon/home-menu-outline.svg" class="icon-default">
            <img src="assets/icon/home-menu-fill.svg" class="icon-active">
          </div>
          <span>Trang chủ</span>
        </div>

        <div class="menu-item" routerLink="/library" routerLinkActive="active">
          <div class="icon-wrapper">
            <img src="assets/icon/library-menu-outline.svg" class="icon-default">
            <img src="assets/icon/library-menu-fill.svg" class="icon-active">
          </div>
          <span>Thư viện</span>
        </div>

        <div class="menu-item" routerLink="/favorite" routerLinkActive="active">
          <div class="icon-wrapper">
            <img src="assets/icon/heart-menu-outline.svg" class="icon-default">
            <img src="assets/icon/heart-menu-fill.svg" class="icon-active">
          </div>
          <span>Yêu thích</span>
        </div>

        <div class="menu-item" routerLink="/category" routerLinkActive="active">
          <div class="icon-wrapper">
            <img src="assets/icon/heart-menu-outline.svg" class="icon-default">
            <img src="assets/icon/heart-menu-fill.svg" class="icon-active">
          </div>
          <span>Thể loại</span>
        </div>

      </div>
      <button class="btn-login">Đăng nhập</button>
    </div>
  </ion-toolbar>
</ion-header>
