<ion-header >
  <ion-toolbar>
    <div class="search-header">
      <img src="assets/icon/muiten-trai.svg" (click)="goBack()" class="icon-arrow">
      <ion-searchbar placeholder="Tìm kiếm bài hát, nghệ sĩ..."(ionInput)="onSearch($event)"></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="section">
    <div class="title">Đề xuất cho bạn</div>
     <div class="suggest">
       @for (item of suggestions; track item){
         <span>{{item}}</span>
       }
     </div>
  </div>

  <div class="section">
    <div class="title-row">
      <div class="title">Tìm kiếm gần đây</div>
      <span class="clear" (click)="clearHistory()">xóa</span>
    </div>

    @for (item of history; track  item){
      <div class="item">
        <img src="">
        <div class="info">
          <div class="name">{{item.name}}</div>
          <div class="artist">{{item.artist}}</div>
        </div>
        <img src="" class="more">
      </div>
    }
  </div>
</ion-content>
