:root {
  --ion-font-family: 'Lexend', sans-serif;
}

* {
  font-family: 'Lexend', sans-serif;
}

ion-content {
  --background: #10182B;
  min-height: 100vh;
  --padding-bottom: 90px;
}

/* container chung */
.page-container {
  width: 100%;
}

/* section spacing */
.album-section,
.continue-wrapper {
  padding: 20px 16px 0;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.home-section{
  padding:24px 15px 0;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 12px;

  background: linear-gradient(
      to top,
      rgba(0,0,0,1),
      rgba(0,0,0,0.7),
      transparent
  );
}
.type {
  color: #ffffff;
  opacity: 0.8;
}

.name {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.greeting{
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
  margin: 10px 65px 15px;
}
ion-content {
  --background: #10182B;
}
.album-card {
  min-height: 300px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.08);
}


.label {
  color: #30d9ff;
  font-size: 14px;
  font-weight: 600;
}
.title {
  color: #ffffff;
  font-weight: 800;
  margin: 5px 0;
  font-size: clamp(16px, 2.5vw, 22px);    //Tự scale theo màn hình
}
.desc {
  color: #949494;
  font-size: 14px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.album-section{
  padding:25px 15px 0;
}
ion-card{
  margin: 0;
}
.actions {
  display: flex;
  justify-content: space-between;   //đẩy 2 nút ra 2 mép
  align-items: center;
  gap: 8px;
  margin-top: 10px;
  flex-wrap: wrap;
  height: 50%;
  overflow: visible;    //Cho phép nội dung bên trong được “tràn ra ngoài” container
  padding-top: 20px;
}
.actions ion-button {
  flex: 1;    //chia đều không gian
  --min-height: 48px;
  min-width: 0;    //cho phép co lại đúng
}
.album-img {
  border-radius: 20px;
  object-fit: cover;   //không méo ảnh
  overflow: hidden;
  width: 40%;
  min-width: 35%;
  margin: 10px;
  aspect-ratio: 1/1;  //giữ// tỉ lệ vuông
}
ion-card-content{
  padding: 0 22px 22px ;
}
ion-button{
  --border-radius: 50px;    // nút phát ngay và xem thêm
  white-space: nowrap;    //cho chữ nằm 1 dòng
}
ion-button ion-icon {        //khoảng cách icon đến chữ của nút phát ngay và xem thêm
  margin-right: 6px;
}

@media (max-width: 400px) {
  ion-button {
    font-size: 12px;
  }
  .actions {
    margin-bottom: 16px;
  }
}
@media (max-width: 360px) {
  ion-button span {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .album-card {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 24px;
    height: 310px;
  }
  .album-img {
    width: 250px;
    height: 250px;
  }
  .album-card .title {
    font-size: 32px;
  }
  .desc {
    max-width: 400px;
  }
  .actions {
    width: 85%;
    gap: 12px;
    padding-top: 16px;
  }
  .label{
    display: inline-block;
    align-self: flex-start;
    padding: 6px 14px;
    border-radius: 999px;
    background: rgba(0, 198, 255, 0.1);
    border: 1px solid rgba(0, 198, 255, 0.3);
    color: #00c6ff;
    width: auto;
    font-size: 12px;
  }

}
.btn-play{
  height: 45px;
  width: 45%;
  --padding-top: 0;
  --padding-bottom: 0;
  --background: linear-gradient(90deg, #00a6ff, #0458f5);
  --color: #fff;
}
.btn-play::part(native):hover {
  filter: brightness(1.2);
  transform: scale(1.05) translateY(-2px);
}
ion-button::part(native) {
  transition: transform 0.25s ease, filter 0.25s ease;    //animation mượt nút phát ngay
  padding-left: 12px;
  padding-right: 12px;
}
.btn-more{
  height: 45px;
  width: 45%;
  --padding-top: 0;
  --padding-bottom: 0;
  --background: #242e46;    //nền
  --color: #ffffff;
  --border-color: #334155;    //viền
  --border-width: 2px;
}
.btn-more::part(native):hover {
  background: #323846;
  border-color: #34b5f8;
}

.btn-more::part(native):hover {
  transform: scale(1.05);
}
:root {
  --ion-font-family: 'Lexend',sans-serif;
}
* {
  font-family: 'Lexend',sans-serif;
}
.title {
  font-size: 24px;
}
ion-button ion-icon {
  flex-shrink: 0;   //icon không bị “biến mất”

}
ion-icon{
  font-size: 16px;
}

@media (min-width: 1024px) {
  .slide {
    flex: 0 0 50%; /* Mỗi slide chiếm 50% chiều rộng = 2 ảnh cùng lúc */
    padding: 0 6px;
    box-sizing: border-box;

    .slide-item {
      border-radius: 16px;
      overflow: hidden;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

      img {
        width: 100%;
        height: 120px;
        display: block;
        object-fit: cover;
        aspect-ratio: 1 / 1;
      }
    }
  }
  .album-card {
    background: none;
    box-shadow: none;
    border: none;
    padding: 0;
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 100px;
    align-items: center;
  }
  .img-wrapper {
    width: 380px;
    height: 380px;
  }

  .album-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.1;
  }

  .desc {
    font-size: 18px;
    max-width: 500px;
  }
  .actions {
    margin-top: 20px;
    gap: 16px;
    width: 50%;
  }
  .album-card {
    position: relative;
    z-index: 2;
  }
  ion-content {
    --background: radial-gradient(
        600px circle at 200px 300px,
        rgba(0, 198, 255, 0.15),
        transparent 60%
    ),
    linear-gradient(
        180deg,
        #0f172a 0%,
        #0b2230 40%,
        #081018 100%
    );
  }
  ion-content::before {
    content: "";
    position: absolute;
    inset: 0;

    background: radial-gradient(
        800px circle at left center,
        rgba(0, 198, 255, 0.1),
        transparent 70%
    );

    pointer-events: none;
  }
  .album-card {
    background: transparent;
    box-shadow: none;
  }
  .label{
    display: inline-block;
    align-self: flex-start;
    padding: 6px 14px;
    border-radius: 999px;
    background: rgba(0, 198, 255, 0.1);
    border: 1px solid rgba(0, 198, 255, 0.3);
    color: #00c6ff;
    width: auto;
    font-size: 12px;
  }
  .album-section{
    width: 1420px;
  }
  .page-container{
    display: flex;
    justify-content: center;
  }
}
ion-content {
  min-height: 100vh;
}
ion-content::part(scroll) {
  min-height: 100%;
}
.album-card {
  padding-bottom: 10px;
}
ion-card-content {
  padding-bottom: 20px !important;
}
.album-text-banner {
  display: flex;
  flex-direction: column;
  height: 100%;
}
ion-content {
  --padding-bottom: 90px;
}


.custom-slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 10px 0;
  position: relative;
  width: 100%;
}
.nav-arrow ion-icon {
  font-size: 28px;
  color: rgba(255, 255, 255, 0.4);
}

.nav-arrow:hover ion-icon {
  color: white;
}
.nav-arrow {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  transition: all 0.3s ease;
  z-index: 10;
  width: 48px;
  height: 48px;
  flex-shrink: 0;

  &:active {
    transform: scale(0.95);
  }

  ion-icon {
    font-size: 50px;
  }

}

.slider-viewport {
  flex: 1;
  overflow: hidden;
  border-radius: 16px;
  cursor: grab;
  touch-action: pan-y pinch-zoom;

  &:active {
    cursor: grabbing;
  }
}

.slider-track {
  display: flex;
  transition: transform 0.3s ease-out;
  will-change: transform;
}




@media (max-width: 768px) {
  .album-card{
    background: rgb(19, 27, 42);
  }
  .nav-arrow {
    font-size: 32px;
    width: 36px;
    height: 36px;

    ion-icon {
      font-size: 32px;
    }
  }

  .custom-slider-container {
    gap: 8px;
  }
}

@media (max-width: 767px) {

  .slider-track {
    gap: 0; /* bỏ khoảng cách */
  }

  .nav-arrow {
    display: none !important;
  }
  .greeting {
    display: none;
  }
  .slide {
    min-width: 100% !important;
    height: 200px !important;// giảm chiều cao
    flex: 0 0 100% !important;
    width: 100% !important;
  }

  .slide-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    aspect-ratio: 16/7; // 🔥 auto scale đẹp
  }
  .slide-item img {
    height: 100%;
    object-fit: cover;
  }
  .custom-slider-container {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .slider-track {
    gap: 0; /* bỏ khoảng cách */
  }
  .slide {
    min-width: 100% !important;
    height: 400px !important;// giảm chiều cao
    flex: 0 0 100% !important;

  }

  .slide-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    aspect-ratio: 16/7; // 🔥 auto scale đẹp
  }
  .slide-item img {
    height: 100%;
    object-fit: cover;
  }
  .custom-slider-container {
    width: 100%;
    margin: 0;
  }
  .slider-track {
    gap: 0; /* bỏ khoảng cách */
  }

  .nav-arrow {
    display: none !important;
  }
  .greeting {
    display: none;
  }
  .page-container {
    max-width: 900px;
    margin: auto;
  }

  .continue-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  .continue-card {
    padding: 12px;
  }

  .continue-name {
    font-size: 15px;
  }

  .continue-artist {
    font-size: 13px;
  }

}

.slide-item[_ngcontent-ng-c2799600510] img[_ngcontent-ng-c2799600510]{
  width: 100%;
}

