<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <section class="home-section">
    <div class="greeting">
      {{greeting}}
    </div>

    <div class="playlist-row" #scrollContainer>
      @for (item of loopPlaylists; track item){
        <ion-card class="playlist-card">
          <img [src]="item.image">

            <!--lớp phủ-->
          <div class="overlay">
            <div class="type">
              {{item.type}}
            </div>
            <div class="name">
              {{item.name}}
            </div>
          </div>
h
        </ion-card>
      }
    </div>
  </section>
</ion-content>
